body {
    font-family: 'Open Sans';
}

.flexible-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    max-width: 800px;
    margin: auto;
}

#topbar {
    align-self: left;
    overflow: hidden;
}

.shadowy {
    border-radius: 2px;
    margin: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#user-widget {
    float: left;
    width: 70px;
    height: 70px;
    padding: 1px;
}

#logout-button {
    margin: auto;
    float: right;
}

#user-image {
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

.my-fun-button {
    background-color: cadetblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
}

.my-fun-button:hover {
    background-color: #88c7c9;
    cursor: pointer;
}

#header > h1 {
    text-align: center;
    font-size: 30px
}

.give-me-some-space {
    margin-top: 10px;
}

.error {
    color: crimson;
}

.success {
    color: lightgreen;
}

.invisible {
    display: none;
}

.look-like-a-link-or-whatever-idk {
    color: blue;
}

.look-like-a-link-or-whatever-idk:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*
.row {
    float: left;
    clear: left;
    display: flex;
}
*/