body {
    font-family: 'Open Sans';
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
}

.my-fun-button {
    background-color: cadetblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
}

.my-fun-button:hover {
    background-color: #88c7c9;
    cursor: pointer;
}

#wotd {
    font-family: 'Pacifico';
    font-size: 30px;
}

#header > h1 {
    text-align: center;
    font-size: 30px
}

.give-me-some-space {
    margin-top: 10px;
}

.error {
    color: crimson;
}

.success {
    color: lightgreen;
}

.invisible {
    display: none;
}

.look-like-a-link-or-whatever-idk {
    color: blue;
    text-decoration: underline;
}

.look-like-a-link-or-whatever-idk:hover {
    cursor: pointer;
}

/*
.row {
    float: left;
    clear: left;
    display: flex;
}
*/